.vscode
Learning_Algorithms_Through_Programming_and_Puzzle_Solving.pdf
week6_dynamic_programming2/3_maximum_value_of_an_arithmetic_expression/by_learners/placing_parentheses.rb
week6_dynamic_programming2/3_maximum_value_of_an_arithmetic_expression/PlacingParentheses.kt
week6_dynamic_programming2/3_maximum_value_of_an_arithmetic_expression/PlacingParentheses.java
week6_dynamic_programming2/3_maximum_value_of_an_arithmetic_expression/placing_parentheses.py
week6_dynamic_programming2/2_partitioning_souvenirs/partition3.py
week6_dynamic_programming2/2_partitioning_souvenirs/Partition3.kt
week6_dynamic_programming2/2_partitioning_souvenirs/Partition3.java
week6_dynamic_programming2/1_maximum_amount_of_gold/by_learners/knapsack.rb
week6_dynamic_programming2/1_maximum_amount_of_gold/knapsack.py
week6_dynamic_programming2/1_maximum_amount_of_gold/Knapsack.kt
week6_dynamic_programming2/1_maximum_amount_of_gold/Knapsack.java
week5_dynamic_programming1/5_longest_common_subsequence_of_three_sequences/by_learners/lcs3.rb
week5_dynamic_programming1/5_longest_common_subsequence_of_three_sequences/lcs3.py
week5_dynamic_programming1/5_longest_common_subsequence_of_three_sequences/LCS3.kt
week5_dynamic_programming1/5_longest_common_subsequence_of_three_sequences/LCS3.java
week5_dynamic_programming1/4_longest_common_subsequence_of_two_sequences/lcs2.py
week5_dynamic_programming1/4_longest_common_subsequence_of_two_sequences/LCS2.kt
week5_dynamic_programming1/4_longest_common_subsequence_of_two_sequences/LCS2.java
week5_dynamic_programming1/3_edit_distance/by_learners/edit_distance.rb
week5_dynamic_programming1/3_edit_distance/EditDistance.kt
week5_dynamic_programming1/3_edit_distance/EditDistance.java
week5_dynamic_programming1/3_edit_distance/edit_distance.py
week5_dynamic_programming1/2_primitive_calculator/by_learners/primitive_calculator.rb
week5_dynamic_programming1/2_primitive_calculator/PrimitiveCalculator.kt
week5_dynamic_programming1/2_primitive_calculator/PrimitiveCalculator.java
week5_dynamic_programming1/2_primitive_calculator/primitive_calculator.py
week5_dynamic_programming1/1_money_change_again/ChangeDP.kt
week5_dynamic_programming1/1_money_change_again/ChangeDP.java
week5_dynamic_programming1/1_money_change_again/change_dp.py
week4_divide_and_conquer/6_closest_points/by_learners/closest.rb
week4_divide_and_conquer/6_closest_points/closest.py
week4_divide_and_conquer/6_closest_points/Closest.kt
week4_divide_and_conquer/6_closest_points/Closest.java
week4_divide_and_conquer/5_organizing_a_lottery/by_learners/points_and_segments.rb
week4_divide_and_conquer/5_organizing_a_lottery/PointsAndSegments.kt
week4_divide_and_conquer/5_organizing_a_lottery/PointsAndSegments.java
week4_divide_and_conquer/5_organizing_a_lottery/points_and_segments.py
week4_divide_and_conquer/4_number_of_inversions/by_learners/inversions.rb
week4_divide_and_conquer/4_number_of_inversions/inversions.py
week4_divide_and_conquer/4_number_of_inversions/Inversions.kt
week4_divide_and_conquer/4_number_of_inversions/Inversions.java
week4_divide_and_conquer/3_improving_quicksort/by_learners/sorting.rb
week4_divide_and_conquer/3_improving_quicksort/sorting.py
week4_divide_and_conquer/3_improving_quicksort/Sorting.kt
week4_divide_and_conquer/3_improving_quicksort/Sorting.java
week4_divide_and_conquer/2_majority_element/by_learners/majority_element.rb
week4_divide_and_conquer/2_majority_element/MajorityElement.kt
week4_divide_and_conquer/2_majority_element/MajorityElement.java
week4_divide_and_conquer/2_majority_element/majority_element.py
week4_divide_and_conquer/1_binary_search/BinarySearch.kt
week4_divide_and_conquer/1_binary_search/BinarySearch.java
week4_divide_and_conquer/1_binary_search/binary_search.rb
week4_divide_and_conquer/1_binary_search/binary_search.py
week4_divide_and_conquer/1_binary_search/binary_search.js
week3_greedy_algorithms/7_maximum_salary/by_learners/largest_number.rb
week3_greedy_algorithms/7_maximum_salary/LargestNumber.kt
week3_greedy_algorithms/7_maximum_salary/LargestNumber.java
week3_greedy_algorithms/7_maximum_salary/largest_number.py
week3_greedy_algorithms/7_maximum_salary/largest_number.hs
week3_greedy_algorithms/6_maximum_number_of_prizes/by_learners/different_summands.rb
week3_greedy_algorithms/6_maximum_number_of_prizes/DifferentSummands.kt
week3_greedy_algorithms/6_maximum_number_of_prizes/DifferentSummands.java
week3_greedy_algorithms/6_maximum_number_of_prizes/different_summands.py
week3_greedy_algorithms/6_maximum_number_of_prizes/different_summands.hs
week3_greedy_algorithms/5_collecting_signatures/by_learners/covering_segments.rb
week3_greedy_algorithms/5_collecting_signatures/CoveringSegments.kt
week3_greedy_algorithms/5_collecting_signatures/CoveringSegments.java
week3_greedy_algorithms/5_collecting_signatures/covering_segments.py
week3_greedy_algorithms/5_collecting_signatures/covering_segments.hs
week3_greedy_algorithms/4_maximum_advertisement_revenue/by_learners/dot_rpoduct.rb
week3_greedy_algorithms/4_maximum_advertisement_revenue/DotProduct.kt
week3_greedy_algorithms/4_maximum_advertisement_revenue/DotProduct.java
week3_greedy_algorithms/4_maximum_advertisement_revenue/dot_product.py
week3_greedy_algorithms/4_maximum_advertisement_revenue/dot_product.hs
week3_greedy_algorithms/3_car_fueling/CarFueling.java
week3_greedy_algorithms/3_car_fueling/car_fueling.py
week3_greedy_algorithms/2_maximum_value_of_the_loot/FractionalKnapsack.kt
week3_greedy_algorithms/2_maximum_value_of_the_loot/FractionalKnapsack.java
week3_greedy_algorithms/2_maximum_value_of_the_loot/fractional_knapsack.rb
week3_greedy_algorithms/2_maximum_value_of_the_loot/fractional_knapsack.py
week3_greedy_algorithms/2_maximum_value_of_the_loot/fractional_knapsack.js
week3_greedy_algorithms/2_maximum_value_of_the_loot/fractional_knapsack.hs
week3_greedy_algorithms/1_money_change/by_learners/change.rb
week3_greedy_algorithms/1_money_change/change.py
week3_greedy_algorithms/1_money_change/Change.kt
week3_greedy_algorithms/1_money_change/Change.java
week3_greedy_algorithms/1_money_change/change.hs
week2_algorithmic_warmup/8_last_digit_of_the_sum_of_squares_of_fibonacci_numbers/FibonacciSumSquares.java
week2_algorithmic_warmup/8_last_digit_of_the_sum_of_squares_of_fibonacci_numbers/fibonacci_sum_squares.py
week2_algorithmic_warmup/7_last_digit_of_the_sum_of_fibonacci_numbers_again/by_learners/fib_partial_sum.rb
week2_algorithmic_warmup/7_last_digit_of_the_sum_of_fibonacci_numbers_again/FibonacciPartialSum.kt
week2_algorithmic_warmup/7_last_digit_of_the_sum_of_fibonacci_numbers_again/FibonacciPartialSum.java
week2_algorithmic_warmup/7_last_digit_of_the_sum_of_fibonacci_numbers_again/fibonacci_partial_sum.py
week2_algorithmic_warmup/7_last_digit_of_the_sum_of_fibonacci_numbers_again/fibonacci_partial_sum.hs
week2_algorithmic_warmup/6_last_digit_of_the_sum_of_fibonacci_numbers/by_learners/fibonacci_sum_last_digit.rb
week2_algorithmic_warmup/6_last_digit_of_the_sum_of_fibonacci_numbers/FibonacciSumLastDigit.kt
week2_algorithmic_warmup/6_last_digit_of_the_sum_of_fibonacci_numbers/FibonacciSumLastDigit.java
week2_algorithmic_warmup/6_last_digit_of_the_sum_of_fibonacci_numbers/fibonacci_sum_last_digit.py
week2_algorithmic_warmup/6_last_digit_of_the_sum_of_fibonacci_numbers/fibonacci_sum_last_digit.hs
week2_algorithmic_warmup/5_fibonacci_number_again/FibonacciHuge.kt
week2_algorithmic_warmup/5_fibonacci_number_again/FibonacciHuge.java
week2_algorithmic_warmup/5_fibonacci_number_again/fibonacci_huge.rb
week2_algorithmic_warmup/5_fibonacci_number_again/fibonacci_huge.py
week2_algorithmic_warmup/5_fibonacci_number_again/fibonacci_huge.js
week2_algorithmic_warmup/5_fibonacci_number_again/fibonacci_huge.hs
week2_algorithmic_warmup/4_least_common_multiple/by_learners/lcm.rb
week2_algorithmic_warmup/4_least_common_multiple/lcm.py
week2_algorithmic_warmup/4_least_common_multiple/LCM.kt
week2_algorithmic_warmup/4_least_common_multiple/LCM.java
week2_algorithmic_warmup/4_least_common_multiple/lcm.hs
week2_algorithmic_warmup/3_greatest_common_divisor/gcd.rb
week2_algorithmic_warmup/3_greatest_common_divisor/gcd.py
week2_algorithmic_warmup/3_greatest_common_divisor/GCD.kt
week2_algorithmic_warmup/3_greatest_common_divisor/gcd.js
week2_algorithmic_warmup/3_greatest_common_divisor/GCD.java
week2_algorithmic_warmup/3_greatest_common_divisor/gcd.hs
week2_algorithmic_warmup/2_last_digit_of_fibonacci_number/FibonacciLastDigit.kt
week2_algorithmic_warmup/2_last_digit_of_fibonacci_number/FibonacciLastDigit.java
week2_algorithmic_warmup/2_last_digit_of_fibonacci_number/fibonacci_last_digit.rb
week2_algorithmic_warmup/2_last_digit_of_fibonacci_number/fibonacci_last_digit.py
week2_algorithmic_warmup/2_last_digit_of_fibonacci_number/fibonacci_last_digit.js
week2_algorithmic_warmup/2_last_digit_of_fibonacci_number/fibonacci_last_digit.hs
week2_algorithmic_warmup/1_fibonacci_number/fibonacci.rb
week2_algorithmic_warmup/1_fibonacci_number/fibonacci.py
week2_algorithmic_warmup/1_fibonacci_number/Fibonacci.kt
week2_algorithmic_warmup/1_fibonacci_number/fibonacci.js
week2_algorithmic_warmup/1_fibonacci_number/Fibonacci.java
week2_algorithmic_warmup/1_fibonacci_number/fibonacci.hs
week1_programming_challenges/2_maximum_pairwise_product/MaxPairwiseProduct.kt
week1_programming_challenges/2_maximum_pairwise_product/MaxPairwiseProduct.java
week1_programming_challenges/2_maximum_pairwise_product/max_pairwise_product.rb
week1_programming_challenges/2_maximum_pairwise_product/max_pairwise_product.py
week1_programming_challenges/2_maximum_pairwise_product/max_pairwise_product.js
week1_programming_challenges/1_sum_of_two_digits/APlusB.scala
week1_programming_challenges/1_sum_of_two_digits/APlusB.rs
week1_programming_challenges/1_sum_of_two_digits/APlusB.rb
week1_programming_challenges/1_sum_of_two_digits/APlusB.py
week1_programming_challenges/1_sum_of_two_digits/APlusB.kt
week1_programming_challenges/1_sum_of_two_digits/APlusB.js
week1_programming_challenges/1_sum_of_two_digits/APlusB.java
week1_programming_challenges/1_sum_of_two_digits/APlusB.hs
week1_programming_challenges/1_sum_of_two_digits/APlusB.cs
