.vscode
week1_programming_challenges\1_sum_of_two_digits\APlusB.scala
week1_programming_challenges\1_sum_of_two_digits\APlusB.rs
week1_programming_challenges\1_sum_of_two_digits\APlusB.rb
week1_programming_challenges\1_sum_of_two_digits\APlusB.py
week1_programming_challenges\1_sum_of_two_digits\APlusB.kt
week1_programming_challenges\1_sum_of_two_digits\APlusB.js
week1_programming_challenges\1_sum_of_two_digits\APlusB.java
week1_programming_challenges\1_sum_of_two_digits\APlusB.hs
week1_programming_challenges\1_sum_of_two_digits\APlusB.cs
week1_programming_challenges\2_maximum_pairwise_product\max_pairwise_product.exe
week1_programming_challenges\2_maximum_pairwise_product\max_pairwise_product.js
week1_programming_challenges\2_maximum_pairwise_product\max_pairwise_product.py
week1_programming_challenges\2_maximum_pairwise_product\max_pairwise_product.rb
week1_programming_challenges\2_maximum_pairwise_product\MaxPairwiseProduct.java
week1_programming_challenges\2_maximum_pairwise_product\MaxPairwiseProduct.kt